:root {
  --bootstrap-yellow: #ffc107;
}

li {
  list-style-type: none;
}

.card {
  display: flex;
  width: 2rem;
  height: 3.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.25rem;
  text-align: left;
}

.card-back {
  display: flex;
  width: 1rem;
  height: 1.75rem;
  background-color: var(--bootstrap-yellow);
  border-radius: 0.15rem;
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.25rem;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value {
  font-size: 0.6rem;
}

.card-suit {
  font-size: 0.45rem;
}

.card-topleft {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-bottomright {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  transform: rotate(-180deg);
}
