li {
  list-style-type:none;
}

.card {
  display: flex;
  width: 48px;
  height: 90px;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid black;
  margin: 10px;
  padding: 4px;
  text-align: left;
}

.card-back {
  display: flex;
  width: 24px;
  height: 45px;
  background-color: goldenrod;
  border-radius: 4px;
  border: 1px solid black;
  margin: 8px;
  padding: 2px;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value {
  font-size: 16px;
}

.card-suit {
  font-size: 12px;
}

.card-topleft {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-bottomright {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  transform:rotate(-180deg);
}
